body {
    position: relative;
    padding-bottom: 60px;
    min-height: 100%;
    background-repeat: repeat;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
}

.list-group-item,
.list-group-item:hover {
    z-index: auto;
}

.containerTitle {
    padding-top: 50px;
    font-size: 100px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-weight: 100;
    color: white;
    text-shadow: -2px 0 #160b5b, 0 2px #160b5b, 2px 0 #160b5b, 0 -2px #160b5b;
}

.main {
    padding-top: 10px;
}

.feedbox {
    position: relative;
    /* top: 150px; */
    border: 3px solid black;
    padding: 10px;
    width: 800px;
    margin: auto;
    min-height: 600px;
}

.card-image-top {
    max-width: 80%;
    max-height: 50px;
}



textarea {
    resize: none;
}

#map {
    height: 100%;
    width: 100%;
}
form.example input[type=text] {
  padding: 10px;
  height: 50%;
  font-size: 17px;
  border: 1px solid grey;
  width: 100%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  width: 10%;
    height: 50%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}