body, html{
    height:100%;
    background-color: #D2D4BC;
    background-repeat:repeat;
    width:100%;
}

.footer {
    position: fixed;
    height: 50px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.navbar.navbar-custom {
	height: 57px;
	background-color: white;
	padding: 0 15px;
	line-height: 55px;
}

.containerTitle{
	padding-top: 50px;
	font-size: 100px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-align: center;
	font-weight: 100;
	color: white;
	text-shadow: -2px 0 #160B5B, 0 2px #160B5B, 2px 0 #160B5B, 0 -2px #160B5B;
}

.feedbox{
	position:relative;
	top:150px;
	border: 3px solid black;
	padding: 10px;
	width:800px;
	margin:auto;
	min-height:600px;
}

.card-image-top {
	max-width: 80%;
	max-height: 50px;
}

.main {
	margin-bottom: 150px;
	padding-bottom: 150px;
}